@media only screen and (min-width : 1630px)
	.package__slider_img
		width: 729px
		height: 560px

@media only screen and (max-width : 1600px)
	h2
		font-size: 40px
	
	.section
		padding: 60px 0

	.container
		max-width: 1170px
	
	.btn
		height: 60px
		line-height: 60px
		font-size: 22px

	.header
		&__btn
			padding: 0 15px
			height: 40px
			line-height: 40px
			font-size: 12px

		&__logo
			margin-right: 0
			img
				width: 130px

		&__content
			padding-top: 150px
			padding-bottom: 70px

			&_sub-title
				margin-bottom: 40px


			&_block
				padding-right: 0

			h2
				font-size: 30px
				margin-bottom: 40px

			p
				font-size: 22px
				margin-right: 160px
				br
					display: none

		&__mail
			font-size: 14px

		&__logo
			margin-right: 20px
			img
				width: 150px
				height: auto

		&__link
			font-size: 18px

		&__info
			margin-right: 0
	
	h1
		font-size: 150px
	
	.portfolio
		.slick-arrow
			width: 150px

	.package
		&::before
			display: none

		p
			font-size: 16px

		h4
			font-size: 18px

		&__wrap
			&::before
				width: 600px
				height: 600px

		&__slider
			&_img
				width: 600px
				height: 500px

	.modal
		.btn
			height: 50px
			line-height: 50px
			width: 100%
			padding: 0
			font-size: 20px
			margin: 10px 0

		.close
			top: 15px
			right: 15px
			background-color: transparent

	.nav
		li
			margin-right: 20px

		a
			font-size: 14px
	
	.about
		padding-bottom: 20px

		h2
			margin-bottom: 20px

		&__block
			p
				white-space: nowrap
				font-size: 16px

			h3
				font-size: 24px

		&__list
			margin-left: 0

			h3
				font-size: 20px
				margin-bottom: 10px

			p
				font-size: 16px


		&__item
			padding-bottom: 30px

		&__block
			img
				width: 100px
				height: auto

		&__background
			width: 150px
			height: 150px

		&__download
			font-size: 18px
			padding-left: 40px
			&::before
				font-size: 20px
	
	.portfolio
		.slick-arrow
			width: 100px

		p
			font-size: 16px
			line-height: 1.4

		.slick-track
			padding: 30px 0

	.landing
		padding-top: 80px
		padding-bottom: 60px

		h2
			margin-bottom: 50px
		
		&__text
			font-size: 30px

		&__content
			margin: 0
			padding: 30px 70px 30px 30px
			&::after
				height: 85%
			&::before
				bottom: -258px
				left: 31%

		&__namber
			margin-bottom: 20px
			font-size: 40px

		&__img
			bottom: -159px
			width: 250px
			height: 290px

	.package
		padding-top: 100px

		&__wrap
			position: relative
			display: block
			top: 30px
			&::before
				width: 500px
				height: 500px

		&__slide
			margin: 0 auto

		&__slider
			&_img
				width: 500px
				height: 400px

		&__list
			margin-bottom: 40px

			li
				margin-right: 2%
				width: 23%

		&__sub-title
			br
				display: block

		&__namber
			width: 160px
			height: 160px
			b
				font-size: 80px
			sup
				font-size: 60px

	.customers
		&__item
			img
				width: 100%

@media only screen and (max-width : 1400px)
	.landing
		&__img
			bottom: -158px
			width: 255px
			height: 290px

@media only screen and (max-width : 1200px)
	.modal
		h3
			font-size: 30px
			margin-bottom: 40px

	.package
		li
			br
				display: none

		&__wrap
			&::before
				transform: translate(-50%, 0)

		.swiper-wrapper
			width: 100%

		&__slider_img
			max-width: 500px
			max-height: 400px
			display: block
			margin: 0 auto

		.swiper-button-prev
			left: 45%

		.swiper-button-next
			left: 55%

	.customers
		p
			font-size: 20px

		&__list
			width: 70%

		&__item
			img
				width: 100%

	.landing
		&__img
			bottom: -114px
			width: 200px
			height: 230px

	.footer
		&__form
			padding-left: 55px

@media only screen and (max-width : 992px)
	.btn
		height: 50px
		line-height: 50px
		font-size: 14px

	h1
		font-size: 80px

	input 
		height: 55px
		line-height: 55px
		&::placeholder
			font-size: 20px

	.header
		&__container
			padding-right: 60px

		&__content
			p
				font-size: 16px

			h2
				font-size: 24px

		&__mail
			display: none

		&__btn
			font-size: 14px

	.about
		h2
			margin-bottom: 30px

		&__block
			text-align: center

		&__item
			padding-left: 90px

		&__background
			left: 10%

	.landing
		padding-top: 60px
		h2
			margin-bottom: 30px

		&__text
			font-size: 22px
			margin-bottom: 20px

		&__namber
			font-size: 36px

		&__img
			display: none

	.portfolio
		padding-top: 0

		.slick-arrow
			&::before
				width: 70px
				height: 70px
				font-size: 30px
				line-height: 70px

	.package
		padding-top: 60px
		&__namber
			right: 15%

	.customers
		background-position: 0 100%

		p
			margin-bottom: 30px
			font-size: 16px
			
		img
			width: 100%
			height: auto

		&__list
			width: 100%

	.footer
		text-align: center

		h2
			margin-bottom: 10px

		h3
			font-size: 26px
			margin-bottom: 30px

		p
			margin-bottom: 10px
			font-size: 16px

		input
			width: 70%

		&__tel
			font-size: 24px
			margin-bottom: 10px
			span
				font-size: 24px

		&__soc
			justify-content: center

		&__form
			margin: 30px auto 0 auto
			padding-left: 0

			&_btn
				margin: 0

			p
				margin-bottom: 0

	.nav
		position: fixed
		display: block
		width: 320px
		height: 100%
		flex-direction: column
		right: -100%
		top: 70px
		z-index: -1
		background-color: rgba(255, 255, 255, .95)
		transition: all .3s
		padding: 40px

		ul
			display: flex
			flex-direction: column
			justify-content: center

		li
			margin: 0
			margin-bottom: 10px

		.header__info
			display: block
			margin-bottom: 15px

		.header__mail
			display: inline-block
			margin-bottom: 15px

		&-active
			right: 0

	.hamburger
		display: block
		z-index: 1001
		right: 0

	.hamburger-box
		right: 0

@media only screen and (max-width : 767px)
	.package
		.swiper-button-next
			left: auto
			right: 15px

		.swiper-button-prev
			left: 15px

	h2
		font-size: 34px

	.header
		&__content
			p
				margin-right: 20px

			&_block
				padding-left: 25px

	.landing
		h2
			margin-bottom: 30px

		&__content
			flex-direction: column
			text-align: center
			align-items: center
			padding: 20px

		&__text
			margin-bottom: 20px
			font-size: 18px

			br
				display: none

		&__namber
			margin-bottom: 20px

		&__block
			align-items: center

	.customers
		br
			display: none

		&__item
			width: 24%
			margin-right: 1%

	.portfolio
		p
			font-size: 16px

		.slick-arrow
			width: 50px
			&::before
				width: 50px

		&__text
			padding: 20px
			&::before
				right: 0
				left: 0
				top: 0
				bottom: 0

	.package
		padding-top: 70px

		h3
			font-size: 26px
			margin-bottom: 40px
			line-height: 1.4

		h4
			margin-bottom: 0

		&__namber
			width: 140px
			height: 140px
		
		&__sub-title
			margin-bottom: 70px
			br
				display: none

		.btn
			margin: 0 auto
			text-align: center

		&__list
			flex-direction: column
			margin-bottom: 20px

			li
				margin-right: 0
				margin-bottom: 10px
				width: 100%

		&__namber
			right: 0
			padding-left: 20px
			text-align: center
			b, strong
				font-size: 60px

			sup
				font-size: 40px

@media only screen and (max-width : 576px)
	.modal
		h3
			font-size: 24px
			margin-bottom: 20px

		p
			br
				display: none
	.header
		padding: 15px 0
		
		&__mail
			display: none

		&__btn
			font-size: 12px

		&__content
			&_btn
				padding: 0 25px
	
	.about
		&__content
			column-count: 1

		&__background
			left: 15%

	.customers
		h2
			margin-bottom: 20px
		p
			font-size: 18px

		&__namber
			font-size: 40px

		&__item
			width: 48%
			margin-right: 2%

	.portfolio
		&__text
			padding: 40px

	.modal
		padding: 60px

	.package
		h3
			margin-bottom: 25px

		&__namber
			padding: 0
			width: 120px
			height: 120px

		&__sub-title
			margin-bottom: 100px

@media only screen and (max-width : 480px)
	.modal
		padding: 40px

	.package
		&__sub-title
			margin-bottom: 95px

		&__namber
			width: 90px
			height: 90px
			padding-left: 10px
			span
				font-size: 20px

		&__slider_img
			max-width: 300px
			max-height: 250px
			display: block
			margin: 0 auto

		.swiper-button-next
			left: 70%

		.swiper-button-prev
			left: 5%

	h1
		font-size: 45px
	
	h2
		font-size: 28px

	.nav
		top: 55px
		.header__btn
			display: block

	.header
		&__btn
			display: none

		&__info
			display: none

		&__content
			padding-top: 100px
			p
				margin-bottom: 20px
				margin-right: 0

			&_block
				flex-direction: column

	.portfolio
		padding: 0

		&__text
			padding: 60px

		.slick-arrow
			&::before
				width: 50px
				height: 50px
				line-height: 50px
				font-size: 20px

		.slick-prev
			right: 80%
	
	.landing
		&__namber
			font-size: 40px
			
	.about
		&__circle
			width: 40px
			height: 40px
			&::before
				width: 20px
				height: 20px

		&__item
			padding-left: 50px
			&::before
				top: 35px
				left: 24px

			i
				font-size: 14px
				top: 8px
				left: 47%

		&__list
			h3
				font-size: 18px

		&__download
			font-size: 14px
			padding-left: 30px
			&::before
				font-size: 18px
	
	.footer
		input
			width: 100%